<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="icon" href="logobianco.png">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script src="https://kit.fontawesome.com/ec05ceb83d.js"></script>
  </head>
  <body>
    <header>
      <h1>Lista delle cose da fare</h1>
    </header>
    <section id="assignment">
      <h2>To-Do</h2>
      <input type="text" v-model="newTask">
      <button @click="addTask">Aggiungi</button>
      <ul v-if="show">
        <li v-for="(task,id) in tasks" :key="task">{{ id + 1 }}: {{ task }} <span @click="removeTask(id)"><i class="fas fa-trash" style="color: crimson"></i></span></li>
      </ul>
      <button @click="toggleList">{{ fraseBottone }}</button>
    </section>
  </body>
</html>
